Reset some default styles * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: block;
    margin: 0;
    font-family: "Inter", Arial, sans-serif;
    /* background: radial-gradient(circle at right, #132440 0%, #000 100%); */
    overflow-y: auto;
    scroll-behavior: smooth;
}

img {
    -webkit-user-drag: none;
    user-select: none;
}

/* ===== Header Base ===== */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    position: fixed;
    /* needed for hiding/revealing */
    top: 0;
    left: 0;
    right: 0;
    background-color: #FCFAF1;
    z-index: 1000;

    /* Slide-down on page load */
    transform: translateY(-120%);
    animation: slideDown 0.8s forwards;

    /* Smooth transitions for padding and hiding */
    transition: padding 0.3s ease, transform 0.3s ease, background-color 0.3s ease;
}

/* Slide-down animation */
@keyframes slideDown {
    to {
        transform: translateY(0);
    }
}

/* ===== Logo ===== */
header .logo img {
    width: 200px;
    height: 100px;
    object-fit: contain;
    transition: width 0.3s ease, height 0.3s ease;
}

/* ===== Shrink on scroll ===== */
header.scrolled {
    padding: 10px 10%;
}

header.scrolled .logo img {
    width: 120px;
    height: 60px;
}

header nav ul.navbar {
    list-style: none;
    display: flex;
    gap: 50px;
}

#connect {
    color: #FCFAF1;
    background-color: #000000;
    padding: 10px;
    border-radius: 10px;
    font-weight: 600;
}

header nav ul.navbar li a {
    text-decoration: none;
    margin-left: 20px;
    color: #333;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s ease;
}



header nav ul.navbar li a:hover {
    border-bottom: 2px solid #44444E;
}

footer {
    display: flex;
    align-items: center;
    padding: 30px 10%;
    background-color: #FAF7F0;
    color: #44444E;
}

footer .logo img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}




/* @media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    header nav ul.navbar {
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
        align-items: center;
    }
} */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sub-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 1500px;
    min-height: 100vh;
}

.wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    max-width: 1300px;
    margin: 0 auto;
}

.text-content {
    width: 800px;
    text-align: left;
}

.text-content h2 {
    /* font-family: 'Great Vibes', cursive; */
    font-size: clamp(2rem, 4vw, 4rem);
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.04em;
    margin-bottom: 10px;
}

.text-content h3 {
    font-family: 'Great Vibes', cursive;
    font-size: clamp(1.5rem, 2.5vw, 1.5rem);
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 0.04em;
}

#typing {
    border-right: 2px solid #000;
    padding-right: 5px;
    white-space: nowrap;
    overflow: hidden;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

#fadeText {
    display: inline-block;
    font-weight: 600;
    animation: fadeUp 1s ease;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.card-bounce{
    background-color: red;
    animation: bounce 1.5s infinite;
    transition: opacity 0.4s ease, transform 0.4s ease;
}



.card#landing-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FCFAF1;
    border-radius: 20px;
    width: 400px;
    height: 200px;
    animation: fadeRotate 2s ease-out forwards;

}

@keyframes fadeRotate {
    to {
        transform: rotate(10deg);
    }
}

.card#landing-card img {
    max-width: 100%;
    height: auto;
    display: block;
}

.card {
    color: black;
    height: auto;
    padding: 10px;
    outline: 2px solid rgb(0, 0, 0);
    background-color: #D8D2C2;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
}


#landing-card img {
    width: 400px;
}


#scrollBtn {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);

    border: none;
    color: #000000;
    padding: 10px;
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;

    animation: bounce 1.5s infinite;
    transition: opacity 0.4s ease, transform 0.4s ease;

}

#scrollBtn.hide {
    opacity: 0;
    pointer-events: none;
    transform: translateX(-50%) translateY(10px);
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(7px);
    }
}

#about {
    background-color: #F8F6F6;
    box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.12),
        inset 0 -2px 6px rgba(255, 255, 255, 0.4);
}

.title {
    width: 100%;
    align-items: center;
    justify-content: center;
}

.title h2 {
    font-family: 'Great Vibes', cursive;
    font-size: clamp(2rem, 4vw, 4rem);
    font-weight: 700;
    letter-spacing: 0.04em;
}

#about .wrapper .card {
    background-color: #FAF7F0;
    height: 600px;
    width: 1200px;
    margin: 30px;
    border-radius: 10px;
    transform: rotate(3deg);
}

.polaroid {
    background: white;
    padding: 10px 10px 25px;
    width: 350px;
    text-align: center;
    outline: solid black 1px;
    height: 560px;
}

.polaroid img {
    width: 100%;
    height: auto;
    display: block;
}

.polaroid #name {
    font-family: 'Great Vibes', cursive;
    font-size: clamp(1.5rem, 1.5vw, 1rem);
    font-weight: 400;
    line-height: 1.1;
}

.caption {
    font-size: 14px;
    color: #333;
}

.description {
    background: white;
    padding: 10px 10px 25px;
    width: 800px;
    text-align: center;
    height: 560px;
}

#description {
    padding: 30px;
    width: 90%;
    flex-wrap: wrap;
    text-align: justify
}

.arrow-right {
    position: absolute;
    left: 85%;
    border: none;
    color: #000000;
    padding: 10px;
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;

    animation: bounce-right 1.5s infinite;
    transition: opacity 0.4s ease, transform 0.4s ease;
}

@keyframes bounce-right {

    0%,
    100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(7px);
    }
}

.arrow-right a {
    text-decoration: none;
    color: #000000;
}

.fade-left h2 {
    animation: fadeIn 1s ease-out forwards;
}

.fade-left h3 {
    animation: fadeIn 1s ease-out forwards;
    animation-delay: 0.2s;
}

.fade-left h2,
.fade-left h3 {
    opacity: 0;
    transform: translateX(0px);
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}



.spacer {
    height: auto;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;

}

.projects {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.projects .wrapper {
    margin: 20px;
    width: 1100px;
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.projects div img {
    width: 200px;
}

.projects div .caption {
    width: 70%;
}

.projects div .caption a {
    text-decoration: none;
    font-family: 'Great Vibes', cursive;
    font-size: clamp(1rem, 1vw, 2rem);
    font-weight: 600;
    letter-spacing: 0.04em;
    color: #000;
    display: inline-block;
    margin-bottom: 20px;  
}

.projects div .caption span {
    display: block;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.logo-marquee {
    width: 100%;
    overflow: hidden;
    background: #f9f9f9;
    padding: 20px 0;
}

.logo-track {
    display: flex;
    width: max-content;
    gap: 50px;
    animation: scroll 999s linear infinite;
}

.logo-track img {
    height: 60px;
    width: auto;
    filter: grayscale(100%);
    transition: 0.3s;
}

.logo-track img:hover {
    filter: grayscale(0%);
    transform: scale(1.1);
}

/* Infinite animation */
@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.logo-marquee {
    mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
    -webkit-mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
}