{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Miguel</title>
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/l.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
    {% include 'header.html' %}
    <div class="container">
        <div class="sub-container">
          
        </div>
    </div>

    {% include 'footer.html' %}
    <script src="{% static 'js/fade.js' %}"></script>
    <script src="{% static 'js/on-scroll.js' %}"></script>
    <script src="{% static 'js/tech-stack.js' %}"></script>
        <script src="{% static 'js/fade-on-scroll.js' %}"></script>


</body>

</html>