<header>
    {% load static %}
    <div class="logo">
        <a href="{% url 'home' %}" class="{% if request.path == '/' %}active{% endif %}">
            <img src="{% static 'img/logo.png' %}" alt="logo">
        </a>
    </div>
    <nav>
        <ul class="navbar">
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="#">Updates</a></li>
            <li><a href="{% url 'urls_dir' %}" class="{% if request.path == '/urls/' %}active{% endif %}">Projects</a>
            </li>
            <li><a href="#" id="connect">Connect with me</a></li>
        </ul>
    </nav>
</header>