{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Miguel</title>
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/g.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
    {% include 'header.html' %}
    <div class="container">
        <div class="sub-container">
            <div class="wrapper">
                <div class="text-content fade-left">
                    <h2>The Future of building happens together.</h2>
                    <h3>Together, <span>we build</span> <span id="fadeText"></span>.</h3>
                </div>
                <div class="card-bounce">
                    <div class="card" id="landing-card">
                        <div class="card" id="landing-card">
                            <div class="card" id="landing-card">
                                <img src="{% static 'img/logo.png' %}" alt="Logo">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div>
            <button type="button" id="scrollBtn">
                <i class="fa-solid fa-chevron-down"></i>
            </button>
        </div>
    </div>
    <div class="container" id="about">

        <div class="sub-container">
            <!-- <div class="title">
                <h2>About</h2>
            </div> -->
            <div class="wrapper">
                <div class="card">
                    <div class="card">
                        <div class="wrapper" id="about-wrapper">
                            <div class="polaroid">
                                <img src="{% static 'img/profile.jpg' %}" alt="Profile">
                                <div class="caption" id="name">
                                    <h4>Miguel Angel C. Silos</h2>
                                </div>
                                <div class="caption" id="position"><i>Developer</i></div>
                            </div>
                            <div class="description">
                                <div id="description">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris congue cursus magna,
                                    non feugiat orci varius sed. Integer volutpat nulla vel feugiat lacinia.
                                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                                    egestas. Morbi magna dolor, rutrum at bibendum eu, ultrices sed arcu. Etiam id
                                    hendrerit turpis. Nam ut purus nec diam imperdiet ultricies. Praesent nec metus ac
                                    risus ultricies molestie. Aliquam bibendum ex ac turpis euismod fermentum.

                                    Fusce interdum accumsan molestie. Maecenas gravida metus tortor. Proin ultricies
                                    varius efficitur. Aliquam dolor libero, tempor non sapien sit amet, lacinia aliquet
                                    tellus. Nunc convallis purus turpis. Sed vel tempor velit, vel dictum arcu. Integer
                                    ut posuere libero. Aliquam eget orci lacus. Pellentesque ut leo ut mi tincidunt
                                    tristique.

                                    Morbi tincidunt feugiat rutrum. Nullam auctor at sapien ut hendrerit. Proin
                                    elementum sollicitudin sapien nec rhoncus. Aenean convallis nibh diam, mattis
                                    pretium libero ultrices ac. Donec non mattis dui, vitae elementum massa. Praesent
                                    faucibus odio quis ipsum tincidunt, id convallis risus scelerisque. Curabitur
                                    tincidunt massa non nunc viverra lacinia. Mauris ac enim blandit, dictum justo
                                    vitae, dignissim odio.

                                    Sed ut magna mi. Fusce nec neque vel elit venenatis luctus nec vitae purus. Nullam
                                    euismod purus eu nibh viverra euismod. Duis commodo ut quam non iaculis. Maecenas
                                    aliquam nisl orci, eget facilisis felis imperdiet convallis. Suspendisse et ornare
                                    sapien. Mauris iaculis turpis ac dui imperdiet sagittis. Aliquam hendrerit sem
                                    tellus, a convallis eros commodo sagittis.

                                    Proin in efficitur urna. Aenean placerat nulla sed tellus sollicitudin vehicula.
                                    Fusce lacinia fringilla vehicula. Morbi pretium lectus a enim gravida, nec tempor
                                    lorem efficitur. Vivamus lorem urna, dignissim at euismod ut, tincidunt quis lectus.
                                    Mauris pellentesque, sem in scelerisque porttitor, nisi est congue nulla, sed
                                    tristique tellus urna a sem. Quisque sagittis sollicitudin enim nec viverra.
                                </div>
                                <div class="arrow-right">
                                    <i>see more </i>
                                    <a href="#"><i class="fa-solid fa-chevron-right"></i></button>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="projects">
            <div class="title" style="text-align: center;">
                <h2>
                    Projects
                </h2>
            </div>
            {% if urls %}
            {% for url in urls %}
            <div class="wrapper">
                <img src="{% static 'img/profile.jpg' %}" alt="Profile">
                <div class="caption">
                    <a href="{{ url }}">{{ url|cut:"/" }}</a>
                    <br>
                    <span id="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris congue cursus
                        magna, non feugiat orci varius sed. Integer volutpat nulla vel feugiat lacinia. Pellentesque
                        habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi magna
                        dolor, rutrum at bibendum eu, ultrices sed arcu. Etiam id hendrerit turpis. Nam ut purus nec
                        diam imperdiet ultricies. Praesent nec metus ac risus ultricies molestie. Aliquam bibendum ex ac
                        turpis euismod fermentum.</span>
                </div>
            </div>
          
            {% endfor %}
            {% else %}
            <div class="caption">
                No URLs found
            </div>
            {% endif %}
        </div>
    </div>

    </div>
    <div class="spacer">
        <div class="logo-marquee">
            <div class="logo-track" id="logo-track">
                <!-- logos will be injected here -->
            </div>
        </div>
    </div>

    {% include 'footer.html' %}
    <script src="{% static 'js/fade.js' %}"></script>
    <script src="{% static 'js/on-scroll.js' %}"></script>
    <script src="{% static 'js/tech-stack.js' %}"></script>

</body>

</html>